<!--  Replace footer social links here -->

<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://www.youtube.com/@annaferreira81" class="text-dark"><i class="fab fa-youtube"></i>Youtube</a>
</li>

<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://shoplinks.to/annaferreira81" class="text-dark"><i class="fab fa-tiktok"></i>shoplinks.to/annaferreira81</a></li>

<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://www.instagram.com/lojagratidaoshop/" class="text-dark"><i class="fab fa-instagram"></i>Instagram</a></li>

<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://loja.infinitepay.io/flatterce" class="text-dark"><i class="fa fa-camera-movie"></i>loja infinitepay</a>
</li>