<!--  Replace footer social links here -->

<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://www.youtube.com/@annaferreira81" class="text-dark"><i class="fab fa-youtube"></i></a>
</li>

<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://www.tiktok.com/@aclaudiasf" class="text-dark"><i class="fab fa-tiktok"></i>Tiktok</a></li>

<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://www.instagram.com/aclaudiasf/" class="text-dark"><i class="fab fa-instagram"></i></a></li>

<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://www.kwai.com/@aCLAUDIAsf" class="text-dark"><i class="fa fa-camera-movie"></i>Kwai</a>
</li>